# Project exclude paths
/common-rabbitmq/target/
/dispatcher/target/
/node/target/
dispatcher/src/main/resources/application.properties
node/src/main/resources/application.properties
rest-service/src/main/resources/application.properties
mail-service/src/main/resources/application.properties
/logs/
/.idea/